body {
  margin-top: 10px;
}

/* Chat body styles */
#chat-body {
  height: 80vh;
  overflow-y: auto;
}

.user-message {
  background-color: #007bff;
  color: #fff;
}

.ai-message {
  background-color: #f8f9fa;
  color: #343a40;
}

.user-message,
.ai-message {
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 7px;
  white-space: pre-wrap;
}

textarea[name="message"] {
  resize: none;
}
