/* Variables */
:root {
  --primary-colour: #7300ff;
  --primary-colour-dark: #6100ea;
}

/* Size Styles */
body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-content {
  height: 98vh;
  margin: 0 15px;
}

.side-menu {
  margin-top: 58px;
}
/* ------------ */

/* Bootstrap Style Modifications */
.btn-primary {
  background-color: var(--primary-colour);
  border-color: var(--primary-colour);
}

.btn-primary:hover {
  background-color: var(--primary-colour-dark);
  border-color: var(--primary-colour-dark);
}

.btn-primary:active {
  background-color: var(--primary-colour-dark) !important;
}

.form-check-input:checked {
  background-color: var(--primary-colour);
  border-color: var(--primary-colour);
}

.nav-pills .nav-link.active {
  background-color: var(--primary-colour);
}
/* ------------ */

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 50vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* ------------ */

/* Quiz Page */
#chat-body {
  overflow-y: auto;
}

#sample-responses .btn {
  padding: 2px 7px;
  margin-right: 5px;
  border-color: grey;
  color: #333;
  font-weight: 500;
}

#sample-responses .btn:hover {
  background-color: #ddd;
}
/* ------------ */

/* Messages */
.user-message {
  background-color: #007bff;
  color: #fff;
  float: right; /* align to the right side of the screen */
}

.ai-message {
  background-color: #f8f9fa;
  color: #343a40;
}

.user-message,
.ai-message {
  margin-bottom: 7px;
  border-radius: 10px;
  padding: 7px 10px;
  white-space: pre-wrap;
  display: inline-block;
}
/* ------------ */

/* Text areas */
textarea {
  resize: none;
}

/* This adjusts the SimpleMDE textarea */
.CodeMirror {
  height: 85vh;
}

textarea[name="message"] {
  max-height: 300px;
}
/* ------------ */

/* Audio */
audio {
  width: 100%;
}
