{% for message in messages %}
  {% if message["role"] == "user" %}
    <div class="row">
      <div class="col-8 offset-4">
        <p class="user-message">{{ message["content"] }}</p>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-8">
        <p class="ai-message">{{ message["content"] }}</p>
      </div>
    </div>
  {% endif %}
{% endfor %}
{% if modal_button1_text|default("", true) != "" %}
  <div class="modal fade show" tabindex="-1" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ modal_title }}</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            onclick="window.location.reload()"
          ></button>
        </div>
        <div class="modal-body">
          <p>{{ modal_body }}</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-{{ modal_button1_style }}"
            data-bs-dismiss="modal"
            onclick="window.location.reload()"
          >
            {{ modal_button1_text }}
          </button>
          {% if modal_button2_text|default("", true) != "" %}
            <form
              method="POST"
              hx-post="/interactive-quiz"
              hx-swap="innerHTML"
              hx-target="#chat-body"
            >
              <button
                class="btn btn-{{ modal_button2_style }}"
                data-bs-dismiss="modal"
                name="{{ modal_button2_name }}"
              >
                {{ modal_button2_text }}
              </button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
{% endif %}
