{% extends "base.html" %}
{% block content %}
  <div class="main-content col-8 d-flex flex-column">
    <h1>Lesson Notes</h1>
    <form
      action="#"
      method="POST"
      id="notes-form"
      class="d-flex flex-column flex-grow-1"
    >
      <textarea
        name="notes"
        autocomplete="off"
        class="form-control flex-grow-1"
        onchange="this.form.submit()"
      >
        {{ notes }}
      </textarea
      >
    </form>
  </div>
  <div class="col side-menu">
    {% macro is_selected_model(model) %}
      {% if selected_model == model %}
        selected
      {% endif %}
    {% endmacro %}

    <form action="#" method="POST" class="mb-2">
      <label for="select-notes-model">Select a model</label>
      <select
        name="model-notes"
        id="select-notes-model"
        onchange="this.form.submit()"
      >
        <option value="GPT-3.5" {{ is_selected_model('GPT-3.5') }}>
          GPT-3.5
        </option>
        <option value="GPT-4" {{ is_selected_model('GPT-4') }}>GPT-4</option>
        <option value="Test mode" {{ is_selected_model('Test mode') }}>
          Test mode
        </option>
      </select>
    </form>

    <button class="btn btn-primary" form="notes-form" name="create-notes">
      Create notes
    </button>
  </div>
{% endblock %}
