{% extends "base.html" %}
{% block content %}
  <div class="main-content col-8 d-flex flex-column">
    <h1>Notes</h1>
    <form method="POST" id="notes-form" class="d-flex flex-column flex-grow-1">
      <textarea
        name="notes"
        autocomplete="off"
        class="form-control flex-grow-1"
        onchange="this.form.submit()"
      >
        {{ notes }}
      </textarea
      >
    </form>
  </div>
  <div class="col side-menu">
    {% macro is_selected_model(model) %}
      {% if selected_model == model %}
        selected
      {% endif %}
    {% endmacro %}

    <form method="POST" class="mb-3">
      <label for="select-notes-model">Select a model</label>
      <select
        name="model-notes"
        class="form-select"
        id="select-notes-model"
        onchange="this.form.submit()"
      >
        <option value="GPT-3.5" {{ is_selected_model('GPT-3.5') }}>
          GPT-3.5
        </option>
        <option value="GPT-4" {{ is_selected_model('GPT-4') }}>GPT-4</option>
        <option value="Test mode" {{ is_selected_model('Test mode') }}>
          Test mode
        </option>
      </select>
    </form>

    <button class="btn btn-primary" form="notes-form" name="create-notes">
      Create notes
    </button>
  </div>

  {% if display_modal %}
    <div class="modal fade show" tabindex="-1" style="display: block;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ modal_title }}</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              onclick="window.location.reload()"
            ></button>
          </div>
          <div class="modal-body">
            <p>{{ modal_body }}</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              onclick="window.location.reload()"
            >
              {{ modal_button1_text }}
            </button>
            {% if modal_show_danger_button %}
              <form method="POST">
                <button
                  class="btn btn-danger"
                  data-bs-dismiss="modal"
                  name="overwrite-notes"
                >
                  Yes, I'm sure
                </button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="modal-backdrop fade show"></div>
  {% endif %}
{% endblock %}
