{% extends "base.html" %}
{% block content %}
  <div class="main-content card col-8" id="chat-window">
    <div class="card-header">
      <h2 class="card-title mb-0">Interactive Quiz Chat</h2>
    </div>
    <div class="card-body" id="chat-body">
      {% include "chat_body.html" %}
    </div>
    <div class="m-3 mt-1">
      <form
        method="POST"
        class="ms-2 mb-3"
        id="sample-responses"
        hx-post="/interactive-quiz"
        hx-swap="innerHTML"
        hx-target="#chat-body"
      >
        <input
          type="submit"
          class="btn btn-outline-secondary btn-sm rounded-3"
          name="sample-response"
          value="Next question"
        />
        <input
          type="submit"
          class="btn btn-outline-secondary btn-sm rounded-3"
          name="sample-response"
          value="Give me a hint"
        />
        <input
          type="submit"
          class="btn btn-outline-secondary btn-sm rounded-3"
          name="sample-response"
          value="Tell me the answer"
        />
        <input
          type="submit"
          class="btn btn-outline-secondary btn-sm rounded-3"
          name="sample-response"
          value="Explain that to me"
        />
      </form>
      <form
        method="POST"
        class="input-group"
        id="message-form"
        autocomplete="off"
        hx-post="/interactive-quiz"
        hx-swap="innerHTML"
        hx-target="#chat-body"
      >
        <textarea
          name="message"
          class="form-control"
          placeholder="Type your message here"
          rows="1"
          autofocus
        ></textarea>
        <button class="btn btn-primary" id="send-button">Send</button>
      </form>
    </div>
  </div>
  <div class="side-menu col">
    {% macro is_selected_model(model) %}
      {% if selected_model == model %}
        selected
      {% endif %}
    {% endmacro %}

    <form method="POST" class="mb-3">
      <label for="select-quiz-model">Select a model</label>
      <select
        name="model-quiz"
        class="form-select"
        id="select-quiz-model"
        onchange="this.form.submit()"
      >
        <option value="GPT-3.5" {{ is_selected_model('GPT-3.5') }}>
          GPT-3.5
        </option>
        <option value="GPT-4" {{ is_selected_model('GPT-4') }}>GPT-4</option>
        <option value="Test mode" {{ is_selected_model('Test mode') }}>
          Test mode
        </option>
      </select>
    </form>

    <form
      method="POST"
      id="quiz-form"
      hx-post="/interactive-quiz"
      hx-swap="innerHTML"
      hx-target="#chat-body"
    >
      <button class="btn btn-primary" name="start-quiz">Start quiz</button>
    </form>
  </div>
{% endblock %}
